.ipynb_checkpoints/

lessons/.ipynb_checkpoints/

parth/.ipynb_checkpoints/

parth/incompressible_aerodynamics_parth/.ipynb_checkpoints/

parth/incompressible_aerodynamics_parth/src/__pycache__/

**/*~
